MONGODB_URI=mongodb+srv://jagadishme07_db_user:Codinggoal@2003@remirx.3aobyqx.mongodb.net/?retryWrites=true&w=majority&appName=RemiRX
JWT_SECRET=thisfadfjlajdfladjfdhfadfhsdfooyahldjfldfdf
PORT=5000
NODE_ENV=Production
CORS_ORIGIN=*